LINEAR_API_KEY=lin_api_xxx
LINEAR_WEBHOOK_SECRET=xxx
GITHUB_TOKEN=github_pat_xxx
GITHUB_WEBHOOK_SECRET=xxx
CRON_SECRET=xxx
SYNC_PAIRS_JSON=[{"linearTeamId":"TEAM_UUID","linearTeamKey":"ENG","githubRepo":"owner/repo"}]
